<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LawGuideBook"
        android:name=".Helper.App"
        >
        <activity
            android:name=".View.Act_browser"
            android:exported="false"
            android:label="@string/title_activity_act_browser"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_lawwebsites"
            android:exported="false"
            android:label="@string/title_activity_act_lawwebsites"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_calculation"
            android:exported="false"
            android:label="@string/title_activity_act_calculation"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_calculation_item"
            android:exported="false"
            android:label="@string/title_activity_act_calculation"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_ai_chat"
            android:exported="false"
            android:label="@string/title_activity_act_ai_chat"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.Act_home"
            android:exported="false"
            android:label="@string/title_activity_act_splash"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_webview"
            android:exported="false"
            android:label="@string/title_activity_act_webview"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_setting"
            android:exported="false"
            android:label="@string/title_activity_act_setting"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_question"
            android:exported="false"
            android:label="@string/title_activity_act_question"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_answer"
            android:exported="false"
            android:label="@string/title_activity_act_answer"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook" />
        <activity
            android:name=".View.Act_splash"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LawGuideBook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>